@model PersonsMagazines

<h1>All People</h1>
<p>ID  -  Name</p>
@{
  foreach( var person in @Model.people)
  {
    <p>@person.PersonId  -  @person.Name</p>
  }
}

<h1>All Magazines</h1>
<p>ID  -  Title</p>
@{
  foreach( var mag in @Model.mags)
  {
    <p>@mag.MagazineId  -  @mag.Title</p>
  }
}