@Html.Partial("_newQuote")
@Html.Partial("_newAuthor")
@Html.Partial("_allAuthors")
@{
  foreach (Quote quote in @ViewBag.all_quotes)
  {
    <div class="users__row">
      <p>@quote.Content</p>
      <p>@quote.author.Name</p>
    </div>
  }
}
<div>
  <h2>This is a form</h2>
  @Html.Partial("form")
</div>